latex/CITAVI_Masterthesis_Export/Attachments
latex/Thesis.aux
latex/Thesis.bbl
latex/*.bcf
latex/Thesis.blg
latex/Thesis.fdb_latexmk
latex/Thesis.fls
latex/Thesis.log
latex/Thesis.lof
latex/Thesis.lot
latex/*.run.xml
latex/Thesis.out
latex/*.synctex.gz
latex/Thesis.toc
src/classes/transformer_classes
**/.DS_Store
.DS_Store
data
!data/.gitkeep
logs
**/__pycache__
__pycache__
**/weights
VTADL/MixtureDensityNetwork
.mypy_cache
**/**.log
pretrained_vit_weights
!pretrained_vit_weights/esvit-T/.gitkeep
wandb
trained_model_weights
